In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\hp'

In [5]:
df1 = pd.read_csv("puiss.csv")
df1.head()

,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere,mois,Puissance_souscrite_opt
0,117,117,Janvier,120
1,124,117,Fevrier,120
2,118,117,Mars,120
3,112,117,Avril,120
4,233,271,Mai,120

In [6]:
df1.head(10)

,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere,mois,Puissance_souscrite_opt
0,117,117,Janvier,120
1,124,117,Fevrier,120
2,118,117,Mars,120
3,112,117,Avril,120
4,233,271,Mai,120
5,244,271,Juin,280
6,286,271,Juillet,280
7,324,271,Aout,280
8,283,194,Septembre,280
9,242,194,Octobre,120

In [7]:
df1.shape

(72, 4)

In [8]:
df1.columns

Index(['puissance_electrique_maximale_appelee_en_KVA', 'moyenne_saisonniere',
       'mois', 'Puissance_souscrite_opt'],
      dtype='object')

In [9]:
df1['mois'].unique()

array(['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
       'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
      dtype=object)

In [10]:
dummies = pd.get_dummies(df1.mois)
dummies.head()

,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0

In [11]:
df1_stats = df1['Puissance_souscrite_opt'].describe()
df1_stats

count     72.000000
mean     182.222222
std       90.463941
min      100.000000
25%      120.000000
50%      130.000000
75%      295.000000
max      350.000000
Name: Puissance_souscrite_opt, dtype: float64

In [12]:
df11 = pd.concat([df1,dummies],axis='columns')
df11.head()

,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere,mois,Puissance_souscrite_opt,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,117,117,Janvier,120,0,0,0,0,1,0,0,0,0,0,0,0
1,124,117,Fevrier,120,0,0,0,1,0,0,0,0,0,0,0,0
2,118,117,Mars,120,0,0,0,0,0,0,0,0,1,0,0,0
3,112,117,Avril,120,0,1,0,0,0,0,0,0,0,0,0,0
4,233,271,Mai,120,0,0,0,0,0,0,0,1,0,0,0,0

In [13]:
df12 = df11.drop('mois',axis='columns')
df12.head()

,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere,Puissance_souscrite_opt,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,117,117,120,0,0,0,0,1,0,0,0,0,0,0,0
1,124,117,120,0,0,0,1,0,0,0,0,0,0,0,0
2,118,117,120,0,0,0,0,0,0,0,0,1,0,0,0
3,112,117,120,0,1,0,0,0,0,0,0,0,0,0,0
4,233,271,120,0,0,0,0,0,0,0,1,0,0,0,0

In [14]:
X = df12.drop(['Puissance_souscrite_opt'],axis='columns')
X.head()

,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,117,117,0,0,0,0,1,0,0,0,0,0,0,0
1,124,117,0,0,0,1,0,0,0,0,0,0,0,0
2,118,117,0,0,0,0,0,0,0,0,1,0,0,0
3,112,117,0,1,0,0,0,0,0,0,0,0,0,0
4,233,271,0,0,0,0,0,0,0,1,0,0,0,0

In [15]:
y = df12.Puissance_souscrite_opt

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [17]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.9329931236713211

In [18]:
// Use K Fold cross validation to measure accuracy of our LinearRegression model

SyntaxError: invalid syntax (<ipython-input-18-fd0794ccc7c1>, line 1)

In [19]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.92559565, 0.90589045, 0.93181578, 0.88490761, 0.9276094 ])

In [20]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

,model,best_score,best_params
0,linear_regression,0.915164,{'normalize': True}
1,lasso,0.902730,"{'alpha': 1, 'selection': 'cyclic'}"
2,decision_tree,0.859341,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [21]:
X.head()

,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,117,117,0,0,0,0,1,0,0,0,0,0,0,0
1,124,117,0,0,0,1,0,0,0,0,0,0,0,0
2,118,117,0,0,0,0,0,0,0,0,1,0,0,0
3,112,117,0,1,0,0,0,0,0,0,0,0,0,0
4,233,271,0,0,0,0,0,0,0,1,0,0,0,0

In [22]:
def predict_price(mois,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere):    
    loc_index = np.where(X.columns==mois)[0][0]

    x = np.zeros(len(X.columns))
    x[1] = puissance_electrique_maximale_appelee_en_KVA
    x[2] = moyenne_saisonniere
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]/8

In [23]:
predict_price('Avril',400,300)

38153.654224124424

In [24]:
predict_price('Avril',117,117)

14953.449909824343

In [25]:
def predict_price(mois,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere):    
    loc_index = np.where(X.columns==mois)[0][0]

    x = np.zeros(len(X.columns))
    x[1] = puissance_electrique_maximale_appelee_en_KVA
    x[2] = moyenne_saisonniere
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]/10

In [26]:
predict_price('Avril',117,117)

1869.181238728043

In [27]:
def predict_price(mois,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere):    
    loc_index = np.where(X.columns==mois)[0][0]

    x = np.zeros(len(X.columns))
    x[1] = puissance_electrique_maximale_appelee_en_KVA
    x[2] = moyenne_saisonniere
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]/100

In [28]:
predict_price('Avril',117,117)

1495.3449909824344

In [29]:
def predict_price(mois,puissance_electrique_maximale_appelee_en_KVA,moyenne_saisonniere):    
    loc_index = np.where(X.columns==mois)[0][0]

    x = np.zeros(len(X.columns))
    x[1] = puissance_electrique_maximale_appelee_en_KVA
    x[2] = moyenne_saisonniere
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]/100

In [30]:
predict_price('Avril',117,117)

149.53449909824343

In [31]:
import pickle
with open('predictionpec.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [32]:
import pickle
with open('predictionpec.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [33]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columnspec.json","w") as f:
    f.write(json.dumps(columns))